{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}


<div class="content my-flow-text">
  <h2 class="head">Tide <spend class="tiny">{{ movement }}</span><br/>
  <span class="tiny"><a class="center" href="https://tidesandcurrents.noaa.gov/noaatidepredictions.html?id={{ station }}">noaa</a></span></h2>
  <table id="tides">
    <tr>
      <th>Time</th>
      <th>Tide Level</th>
      <th>Height (ft)</th>
    </tr>
    {% for tide in tides -%}
        {% if tide.is_next %}
            <tr class="myblue">
        {% elif loop.index % 2 == 0 %}
            <tr class="mygrey">
        {% else %}
            <tr>
        {% endif %}
          <td>{{ tide.time }}</td>
          <td>{{ tide.level }}</td>
          <td>{{ tide.height }}</td>
        </tr>
    {%- endfor %}
  </table>
</div>

{% endblock content %}
