{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block content %}


<div class="content my-flow-text">
  <h2 class="head">
    <span class="tiny"><b>{{ current_tide.level }}</b> {{ current_tide.only_time }} ~ {{ now }} ~ {{ next_tide.only_time }} <b>{{ next_tide.level }}</b></span><br/>
    <span class="tiny">{{ time_til_next }} until {{ next_tide_type }} tide</span><br/>
    <span class="tiny"><a class="center" href="https://tidesandcurrents.noaa.gov/noaatidepredictions.html?id={{ station }}">noaa</a></span>
  </h2>
  <table id="tides">
    <tr>
      <th>Time</th>
      <th>Tide Level</th>
      <th>Height (ft)</th>
    </tr>
    {% for tide in tides -%}
        {% if tide.is_next %}
            <tr class="myblue">
        {% elif loop.index % 2 == 0 %}
            <tr class="mygrey">
        {% else %}
            <tr>
        {% endif %}
          <td>{{ tide.time }}</td>
          <td>{{ tide.level }}</td>
          <td>{{ tide.height }}</td>
        </tr>
    {%- endfor %}
  </table>
</div>

{% endblock content %}
